@use "sass:map";
@import "theme";
@import "_responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  // background-color: map.get($theme-color, "main");
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-lg-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-lg-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.button-sibmit {
  font-size: 12px;
  color: #fff;
  background-color: map.get($theme-color, "main");
  border: none;
  transition: all 0.3s;
  display: inline-block;
  padding: 6px 10px;
}

@include Responsive($DESKTOP) {
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@include Responsive($TABLET_DEVICE) {
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@include Responsive($MEDIUM_DEVICE) {
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}
